@using System.Globalization;
@using GBX.NET;

@inherits ToolComponentBase<MapViewerEngineTool>

<div class="container">
    <h2>
        Map Viewer Engine
    </h2>
    <div style="display: flex;gap: 10px;">
        
    </div>
</div>

@code {
    
}